@font-face {
    font-family: Cambridge Round W01 Bold;
    /* Гарнитура шрифта */
    src: url(../fonts/15677.ttf);
    /* Путь к файлу со шрифтом */
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 15vh;
    margin: 0;
    font-family: var(--font-sans);
}

.all-wrapp {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background: rgb(242, 246, 250);
    height: 15vh;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 1px 10px rgb(158, 158, 158);
    z-index: 5;
}

header>h1 {
    white-space: nowrap;
    /* Запрещаем перенос текста */
    text-align: center;
    position: relative;
    left: 20%;
    width: 60%;
    top: 30%;
    height: 20%;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Cambridge Round W01 Bold;
    font-size: min(5vh, 3.2vw);
}

header>a {
    position: absolute;
    left: 2%;
    height: 100%;
    padding: 1vh;
}

#MJ-label {
    height: 100%;
    border-radius: 50%;
}

.shine {
    box-shadow: 0 0 17px rgb(50, 89, 197);
    /* Параметры теней */
}

.main {
    min-height: 70%;
    flex: 1 0 auto;
}

.customFooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    flex: 0 0 auto;
    margin-bottom: 1%;
}

footer>p {
    height: 5%;
    color: dimgray;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 20px;
}

.no-radius {
    border-radius: 0;
}

#icon-wrapper {
    position: absolute;
    top: 0;
    right: 5%;
    height: 100%;
    min-width: 10%;
    max-width: 20%;
    width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon {
    width: 100%;
}

#dropdownMenuButton {
    background-color: #008eff;
    border-radius: 7rem;
    height: 70%;
    border: none;
    padding: 10%;
}

.inner-icon {
    margin: 5%;
}

#icon-name {
    font-size: 2vh;
    margin-right: 10%;
}