.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gamePlace {
    background-color: LemonChiffon;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 5px 17px #333;
    /* in media */
}

.row {
    margin: 2px;
}

.operands {
    display: flex;
    flex-direction: row;
    /* in media */
}

.operand {
    margin: 2px;
    background-color: DeepSkyBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* in media operator for opponent and me*/

.ID {
    background-color: crimson;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* in media */
}

.IDbox {
    padding: 1px;
    display: inline-flex;
    /* in media */
}

.valuePlace {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    /* in media */
}

.valuesBox {
    margin: 2px;
    display: flex;
    /* in media */
}


/* in media values for me and opponent */

.value {
    background-color: cornflowerblue;
    /* in media */
}

.infoPlace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-radius: 20px;
    /* in media */
}

.infoBox {
    padding: 1px;
    display: inline-flex;
    font-size: 50px;
    display: inline-flex;
}

.TeX {
    padding: 1px;
    display: inline-flex;
    /* in media */
}

@media all and (orientation: landscape) {
    /* для десктопов */
    .gamePlace {
        width: 75%;
        height: 90%;
    }
    .opponentOp {
        justify-content: flex-end;
    }
    .IOp {
        justify-content: flex-start;
    }
    .operands {
        height: 15%;
    }
    .operand {
        width: 7%;
        border-radius: 10px;
    }
    .ID {
        flex-basis: 25%;
        border-radius: 10px;
    }
    .IDbox {
        font-size: 15px;
    }
    .valuePlace {
        flex-direction: row;
    }
    .valuesBox {
        width: 30%;
    }
    .infoPlace {
        width: 50%;
        height: 20%;
    }
    .IVal {
        flex-direction: column;
        justify-content: flex-end;
    }
    .value {
        margin: 5px;
        height: 13%;
        border-radius: 4px;
    }
    .opponentVal {
        flex-direction: column;
        justify-content: flex-start;
    }
    .TeX {
        font-size: 25px;
    }
    .mobile {
        display: none;
    }
}

@media all and (orientation: portrait) {
    /* для мобильных */
    header,
    .customFooter {
        display: none;
    }
    .main {
        height: 100%;
    }
    .gamePlace {
        width: 100%;
        height: 95%;
    }
    .operands {
        height: 10%;
        justify-content: space-around;
    }
    .opponentOp {
        flex-direction: row-reverse;
    }
    .IOp {
        flex-direction: row;
    }
    .operand {
        flex-basis: 100%;
        border-radius: 20px;
    }
    .ID {
        height: 10%;
        border-radius: 20px;
    }
    .IDbox {
        font-size: 40px;
    }
    .valuePlace {
        flex-direction: column-reverse;
    }
    .valuesBox {
        height: 40%;
        align-content: stretch;
        justify-content: flex-start;
    }
    .infoPlace {
        width: 30%;
        height: 50%;
    }
    .IVal {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
    }
    .opponentVal {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .value {
        margin: 2px;
        width: 49%;
        border-radius: 10px;
    }
    .TeX {
        font-size: 30px;
    }
    .desktop {
        display: none;
    }
}

.centerBox {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}