* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: lightgray;
    padding: 0;
    margin: 0;
    font-family: var(--font-sans);
}

.main {
    display: flex;
    margin: 10px auto;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.gamePlace {
    background-color: sandybrown;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    background-color: silver;
    margin: 2px;
}

.operands {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.opponentOp {
    flex-direction: row-reverse;
}

.IOp {
    flex-direction: row;
}

.operand {
    margin: 2px;
    flex-basis: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
}

.ID {
    height: 10%;
    background-color: crimson;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}

.IDbox {
    padding: 1px;
    display: inline-flex;
    font-size: 40px;
}

.valuePlace {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.valuesBox {
    margin: 2px;
    background-color: palegreen;
    height: 40%;
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
}

.centerBox {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.infoPlace {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-radius: 20px;
}

.infoBox {
    padding: 1px;
    display: inline-flex;
    font-size: 50px;
    display: inline-flex;
}

.IVal {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.opponentVal {
    flex-direction: row;
    flex-wrap: wrap;
}

.value {
    margin: 3px;
    width: 49%;
    background-color: cornflowerblue;
    border-radius: 4px;
}

.TeX {
    padding: 1px;
    display: inline-flex;
    font-size: 30px;
}