{% extends 'base.html' %} {% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/main_style.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='style/user_style.css') }}" type="text/css" /> {% endblock %}
{% block scrypt %}
<script src="{{ url_for('static', filename='js/index_script.js') }}"></script>
{% endblock %}
{% block title %} Main Page {% endblock %} {% block content %}


{% include 'navbar.html' %}

<div class="wrapper">

  <div id="navContent">

  </div>
</div>

{% endblock %}