<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}" type="text/css">
    <title>MJ</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <div class="main">
        <div class="gamePlace">
            <div class="ID opponentID mobile">
                <div class="IDbox">Opponent ID</div>
            </div>
            <div class="row operands opponentOp">
                <div class="operand" id="D">
                    <div class="TeX">
                        $$+$$
                    </div>
                </div>
                <div class="operand" id="D">
                    <div class="TeX">
                        $$-$$
                    </div>
                </div>
                <div class="operand" id="D">
                    <div class="TeX">
                        $$*$$
                    </div>
                </div>
                <div class="operand" id="D">
                    <div class="TeX">
                        $$d \over dx$$
                    </div>
                </div>
                <div class="operand" id="D">
                    <div class="TeX">
                        $$sp$$
                    </div>
                </div>
                <div class="operand" id="D">
                    <div class="TeX">
                        $$df$$
                    </div>
                </div>
                <div class="ID opponentID desktop">
                    <div class="IDbox">Opponent ID</div>
                </div>
            </div>
            <div class="row valuePlace">
                <div class="valuesBox IVal">
                    <div class="value"></div>
                    <div class="value"></div>
                    <div class="value"></div>
                    <div class="value"></div>
                    <div class="value"></div>
                </div>

                <div class="valuesBox centerBox">
                    <div class="infoPlace">
                        <div class="infoBox time">0:15</div>
                    </div>
                </div>

                <div class="valuesBox opponentVal">
                    <div class="value"></div>
                    <div class="value"></div>
                    <div class="value"></div>
                    <div class="value"></div>
                    <div class="value"></div>
                </div>
            </div>
            <div class="row operands IOp">
                <div class="ID IID desktop">
                    <div class="IDbox">My ID</div>
                </div>
                <div class="operand" id="D">
                    <div class="TeX">
                        $$+$$
                    </div>
                </div>
                <div class="operand" id="D">
                    <div class="TeX">
                        $$-$$
                    </div>
                </div>
                <div class="operand" id="D">
                    <div class="TeX">
                        $$*$$
                    </div>
                </div>
                <div class="operand" id="D">
                    <div class="TeX">
                        $$d \over dx$$
                    </div>
                </div>
                <div class="operand" id="D">
                    <div class="TeX">
                        $$sp$$
                    </div>
                </div>
                <div class="operand" id="D">
                    <div class="TeX">
                        $$df$$
                    </div>
                </div>
            </div>
            <div class="ID IID mobile">
                <div class="IDbox">My ID</div>
            </div>
        </div>
    </div>
</body>

</html>